<ion-view view-title="IUtility">
  <ion-content>
    <br>
    <h3 class="title text-center">Accueil</h3>
    <div class="card">
      <div class="item item-text-wrap">
        Veuillez choisir le mode de votre Arduino Bluetooth!
      </div>
    </div>
    <button class="button button-full button-energized" data-ng-click="doBatterie()">
      Batterie
    </button>
    <button class="button button-full button-assertive" data-ng-clickk="doHorloge()">
      Horloge
    </button>

  </ion-content>
</ion-view>
